body{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.gameBoard{
    display: flex;
    flex-flow: column wrap;
    height: 600px;
    width: 600px;
    margin-top: 50px;    
}

.row{
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}

.square{
    display: flex;
    border: 2px solid black;
    flex-flow:row wrap;
    align-content: center;
    justify-content: center;
    flex: 1;
    font-size: 100px;
    font-family:  Arial, Helvetica, sans-serif;
}

.square.top{
    border-top: none;
}

.square.bottom{
    border-bottom: none;
}

.square.left{
    border-left: none;
}

.square.right{
    border-right: none;
}